body {
  background-color: green;
  font-size: 40px;
  text-align: center;
}

#PhotoInfo
{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.7;
}

#PhotoInfo p
{
  top: 50%;
  text-align: center;
  color: white;
  margin: 20%;
}

.custom-file-input::-webkit-file-upload-button {
  positon: bottom;
}
.custom-file-input::before {
  content: 'New picture';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
