@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,800,300);

@red: #F24150;
@blue: #5F769B;
@green: #6DB784;
@orange: #E2623D;
@brown: #A5A091;

.iphone4(@rules) {
  @media screen and (max-height:400px) { @rules(); }
}

.transition {
  -webkit-transition: all 750ms cubic-bezier(0.825, 0.000, 0.210, 1.000); 
     -moz-transition: all 750ms cubic-bezier(0.825, 0.000, 0.210, 1.000); 
       -o-transition: all 750ms cubic-bezier(0.825, 0.000, 0.210, 1.000); 
          transition: all 750ms cubic-bezier(0.825, 0.000, 0.210, 1.000);

  -webkit-transition-timing-function: cubic-bezier(0.825, 0.000, 0.210, 1.000); 
     -moz-transition-timing-function: cubic-bezier(0.825, 0.000, 0.210, 1.000); 
       -o-transition-timing-function: cubic-bezier(0.825, 0.000, 0.210, 1.000); 
          transition-timing-function: cubic-bezier(0.825, 0.000, 0.210, 1.000);
}

body {
  font-family: "Raleway";
  background: #333;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform:translate3d(0,0,0);
  overflow: hidden;
  
  .red { 
    background-image: url('/images/img_bg_red.png');
  }
  .blue { 
    background-image: url('/images/img_bg_blue.png');
  }
  .green { 
    background-image: url('/images/img_bg_green.png');
  }
  .orange { 
    background-image: url('/images/img_bg_orange.png');
  }
  .brown { 
    background-color: @brown;
  }
  .purple {
    background-image: url('/images/img_bg_purple.png');
  }
  .pink {
    background-image: url('/images/img_bg_pink.png');
  }
  
  #log {
    position: fixed;
    top: 5px;
    right: 5px;
    color: #000;
    font-size: 9px;
  }
  
  .box {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-animation-duration: 1.5s;
    color: rgba(255,255,255,1);
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 62px 2px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 0px 62px 2px rgba(0,0,0,0.43);
    box-shadow: 0px 0px 62px 2px rgba(0,0,0,0.43);
    font-weight: 300;
    overflow: hidden;
  }
  
  .box-1 {
    background: yellow;
  }
  
  .box-2 {
    -webkit-animation-delay: 0.6s;
    -webkit-transform: translate3d(2000px, 0, -300px);
    transform: translate3d(2000px, 0, -300px);
    background: green;
  }
  
  .page {
    display: none;
    height: 0px;
    width: 0px;
    position: relative;
    font-size: 16px;
    background-size: cover;
    
    h1 {
      &.middle { margin-top: 80px; }
      margin-top: 0px;
    }
    
    h3 {
      font-family: "baron_neueregular";
      text-transform: lowercase;
      font-size: 12px;
      letter-spacing: 2px;
      line-height: 20px;
      opacity:0.99;
      margin-top: 0px;
      text-align: center;
    }
    
    p { 
      font-size: 20px;
      line-height:30px;
      padding: 30px;
      margin: 0;
    }
    
    .alt {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 15px;
      letter-spacing: 4px;
    }
    
    .button-holder {
      position: absolute;
      bottom: 0px;
      width: 100%;
      
      .button {
        padding: 20px 15px;
        border: 1px solid rgba(255,255,255,0.75);
        border-bottom: 5px solid rgba(255,255,255,0.75);
        margin: 20px;
        color: #FFF;
        font-family: "baron_neueregular";
        text-transform: lowercase;
        font-size: 20px;
        letter-spacing: 3px;
        line-height: 20px;
        opacity:0.99;
        cursor: pointer;
        text-shadow: 0 3px 0 rgba(0,0,0,0.02);
        text-align: center;
      
        &:active, &.clicked {
          background-color: #FFF;
          color: #5F769B;
        }
      }
    }
    
    
    &#page_orientation {
      
      h4 {
        text-align: center;
        line-height: 22px;
        padding: 25px 20px 15px;
        font-size: 15px;
        margin: auto;
        width: 85%;
        .iphone4({ 
          padding: 25px 30px 10px;
          font-size: 12px;
          line-height: 16px;
        });
      }
      
      h3 {
        padding: 0 15px;
        margin: 0;
        .iphone4({ position: relative; top: -35px; });
      }
      
      .compass {
        height: 50%;
        width: 60%;
        .iphone4({ width: 45%; });
        text-align: center;
        position: relative;
        margin: auto;
        
        .needle {
          width: 100%;
          position: absolute;
          top: 0; left: 0;
        }
        
        .bg {
          width: 100%;
          position: absolute;
          top: 0; left: 0;
        }
      }
    }
    
    &#page_roof_type {
      
      h1 {
        font-size: 23px;
        line-height: 30px;
        margin: 0;
        padding-top: 65px;
        padding-bottom: 20px;
      }
      
      h3 {
        padding-top: 30px;
        margin: 0;
      }
      
      .roof_type {
        line-height: 20px;
        margin-bottom: 30px;
        margin-left: 20px;
        margin-top: 10px;
        .iphone4({
          -ms-transform: scale(0.8,0.8);
          -webkit-transform: scale(0.8,0.8);
          transform: scale(0.8,0.8);
        });
        
        .img {
          background-size: 100%;
          background-repeat: no-repeat;
          margin:auto;
          float: left;
        }
        
        h3 {
          margin-left: 20px;
          float: left;
        }
        
        &#flatRoof { 
          h3 { line-height: 50px; }
          
          .img {
            width: 160px;
            height: 100px; 
            background-image: url('/images/img_roof_flat.png');
          }
          
          &.selected {
            .img {
              background-position: 0 -100px;
            }
          }
        }
        
        &#slopedRoof { 
          h3 { line-height: 60px; }
          
          .img {
            width: 167px;
            height: 117px;
            background-image: url('/images/img_roof_sloped.png');
          }
          
          &.selected {
            .img {
              background-position: 0 -117px;
            }
          }
        }
        
      }
      
    }
    
    &#page_photo {
      h3 {
        padding-top: 30px;
      }
      
      .snappy {
        width: 100%;
        background-image: url('/images/img_snappy_big.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom right;
        position: absolute;
        bottom: 110px; left: 0;
        height: 83%;
        border-bottom: 1px solid;
      }
      
      input {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0;
        opacity: 1;
        font-size: 200px;
        direction: ltr;
        cursor: pointer;
        z-index: 9999;
      }
      
      .button {
        &.loading {
          padding: 8px 15px;
          i { 
            font-size: 40px;
            -webkit-animation: spin 2s infinite linear;
                    animation: spin 2s infinite linear;
            
            -ms-transform-origin: 20px 20px;
            -webkit-transform-origin: 20px 20px;
            transform-origin: 20px;
            
            @-webkit-keyframes spin {
              0% {
                -webkit-transform: rotate(0deg);
                        transform: rotate(0deg);
              }
              100% {
                -webkit-transform: rotate(-359deg);
                        transform: rotate(-359deg);
              }
            }

            @keyframes spin {
              0% {
                -webkit-transform: rotate(0deg);
                        transform: rotate(0deg);
              }
              100% {
                -webkit-transform: rotate(-359deg);
                        transform: rotate(-359deg);
              }
            }
          }
        }
      }
    }
    
    &#page_material {
      h3 {
        padding-top: 30px;
      }
      .material {
        width: 50%;
        height: 60px;
        .iphone4({ 
          height: 50px;
          line-height: 40px;
        });
        font-size: 15px;
        float: left;
        line-height: 50px;
        text-align: center;
        font-family: "baron_neueregular";
        text-transform: lowercase;
        letter-spacing: 3px;
        color: rgba(255,255,255,0.8);
        border: 5px solid transparent;
        background-origin: border-box;
        text-shadow: 0 1px 0px rgba(0,0,0,0.3);
        background-position: center;
        
        &.selected {
          color: rgba(255,255,255,1);
          border: 5px solid rgba(255,255,255,0.8);
        }
      }
    }
    
    &#page_index {
      
      .page-slides-mask {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        
        .city {
          background-size: contain;
          background-position-y: bottom;
          background-repeat: no-repeat;
          height: 80px;
          width: 100%;
          position: absolute;
          bottom: 111px;
          left: 0;
          
          .transition
        }
        
        .cloud {
          background-image: url('/images/img_cloud.png');
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          opacity: 0.8;
          
          .transition
        }
      }
      
      .page-slides {
        overflow: auto;
        width: 3000px;
        position: relative;
        left: 0;
        
        .transition
      }
      
      .page-slide {
        color: white;
        float: left;
        position: relative;
        left: 0;
        overflow: visible;
      }
      
      .content {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0px;
        padding: 25px;
        
        h1 {
          font-family: "baron_neueregular";
          text-transform: lowercase;
          font-size: 50px;
          letter-spacing: 2px;
        }
        
        .sun {
          position: absolute;
          left: 0;
          top: 15px;
          width: 100%;
          height: 25%;
          background-repeat: no-repeat;
          background-size: 110%;
          background-position: center -15px;
          text-align: center;
          img { height: 100%; }
        }
      
        .logo {
          margin: auto;
          margin-top: 35%;
          .iphone4({ margin-top: 15%; });
          width: 70%;
          img { width: 100%; }
        }
      
        .house, .library, .snappy, .signpost {
          border-bottom: 1px solid #fff;
          width: 100%;
          height: 100%;
          background-size: 175%;
          background-position: 50% bottom;
          background-repeat: no-repeat;
          position: absolute;
          bottom: 10px;
          left: 0;
          overflow: visible;
        }
        
        .library {
          background-size: 55%;
          .iphone4({ 
            background-size: 35%;
            background-position: 70% bottom;
          });
        }
        
        .snappy {
          background-position: right bottom;
          background-size: 60%;
          .iphone4({ background-size: 35%; });
        }
        
        .signpost {
          background-position: 95% bottom;
          background-size: 35%;
          .iphone4({ background-size: 25%; });
        }
      }
      
      .main {
        width: 100%;
        max-width: 400px;
        height:385px;
        background-size: 118%;
        background-position: 38% 0;
        margin: auto;
      }
    }
    
    &#page_roof_angle {
      
      h3 {
        padding-top: 30px;
        margin: 0;
      }
      
      h1 {
        font-family: "baron_neueregular";
        text-transform: lowercase;
        font-size: 80px;
        letter-spacing: 2px;
        text-align: center;
      }
      
      .roof_angler {
        width: 1000px;
        height: 1000px;
        background: rgba(0,0,0,0.2);
        position: absolute;
        bottom: -1000px;
        left: 0px;
        -ms-transform: rotate(-0deg);
        -webkit-transform: rotate(-0deg);
        transform: rotate(-0deg);
        -ms-transform-origin: top left;
        -webkit-transform-origin: top left;
        transform-origin: top left;
      }
    }
    
    &#page_shade {
      .help { 
        font-size: 15px;
        line-height: 18px;
      }
      
      h3 {
        padding-top: 30px;
      }
      
      .roof_shade {
        width: 100%;
        height: 20%;
        position: relative;
        
        &.selected {
          .roof {
            background-position: center bottom;
          }
          
          h3 {
            opacity: 1;
          }
        }
        
        .roof, .shade {
          position: absolute;
          top: 0; left: 0;
          height: 84px;
          width: 120px;
          background-size: 100%;
          background-image: url('/images/img_roof_sloped.png');
          background-position: center top;
          margin: 5px 25px 0px 35px;
          float: left;
        }
        
        .shade {
          background-image: url('/images/img_shading.png');
          &.full {
            background-position: center bottom;
          }
        }
        
        h3 {
          margin-left: 185px;
          text-align: left;
          font-size: 15px;
          line-height: 35px;
          opacity: 0.5;
        }
        
        .iphone4({
          height: 17%;
          
          .roof, .shade {
            height: 52px;
            width: 75px;
            background-size: 100%;
            margin-left: 65px;
          }
          
          h3 {
            line-height: 25px;
            margin-left: 165px;
          }
        });
      }
    }
    
    #map-canvas {
      height: 400px;
      width: 100%;
    }

    #mapInfo {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.7;
    }

    #mapText {
      top: 50%;
      text-align: center;
      color: white;
      margin: 20%;
    }
    
    .help-open {
      position: absolute;
      top: 0;
      left: 0;
      color: #FFF;
      font-size: 35px;
      line-height: 30px;
      margin: 10px;
      opacity: 0.6;
      
      &:hover, &:active {
        opacity: 1;
      }
    }
    
    .help {
      display:none;
      position: absolute;
      top: -40px;
      left: 0px;
      margin: 0;
      width: 100%;
      font-size: 20px;
      line-height: 30px;
      background: rgba(255,255,255,0.93);
      color: #333;
      padding: 100px 30px 30px 30px;
      
      .help-close { 
      }
      
      .button {
        border: 1px solid rgba(0,0,0,0.75);
        color: #333;
        padding: 25px 15px;
        margin-top: 20px;
        line-height: 0;
        text-align: center;
        font-family: "baron_neueregular";
        text-transform: lowercase;
        font-size: 20px;
        letter-spacing: 3px;
        border-bottom: 5px solid rgba(0,0,0,0.75);
        
        &:active {
          background-color: #FFF;
          color: #5F769B;
        }
      }
    }
  }
  
}

@font-face {
    font-family: 'baron_neue_boldbold';
    src: url('/fonts/Baron Neue Bold-webfont.eot');
    src: url('/fonts/Baron Neue Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Baron Neue Bold-webfont.woff2') format('woff2'),
         url('/fonts/Baron Neue Bold-webfont.woff') format('woff'),
         url('/fonts/Baron Neue Bold-webfont.ttf') format('truetype'),
         url('/fonts/Baron Neue Bold-webfont.svg#baron_neue_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'baron_neueregular';
    src: url('/fonts/Baron Neue-webfont.eot');
    src: url('/fonts/Baron Neue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Baron Neue-webfont.woff2') format('woff2'),
         url('/fonts/Baron Neue-webfont.woff') format('woff'),
         url('/fonts/Baron Neue-webfont.ttf') format('truetype'),
         url('/fonts/Baron Neue-webfont.svg#baron_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}