<div class="page orange" id="pageThree">
  <p>
    Where to put all those solar panels? Easy - just <strong>Look Up!</strong><br>
    Found a big roof that looks good? Use Look Up to check it out.
  </p>
</div>