<div class="page green" id="pageNine">
  What's the roof made of?
    
  <div class="row">
    <div class="columns small-6">
      <div class="material_icon" style="background-image:url('/images/metalroof.jpg')" id="metal">
        Metal
      </div>
    </div>
    
    <div class="columns small-6">
      <div class="material_icon" style="background-image:url('/images/tiledroof.jpg')" id="tiles">Tiles</div>
    </div>
  </div>
  

  <div class="row">
    <div class="columns small-6">
      <div class="material_icon" style="background-image:url('/images/concreteroof.jpg')" id="concrete">Concrete</div>
    </div>
    
    <div class="columns small-6">
      <div class="material_icon" style="background-image:url('/images/asphaltroof.jpg')" id="asphalt">Asphalt</div>
    </div>
  </div>
  
  <div class="row">
    <div class="columns small-6">
      <div class="material_icon" style="background-image:url('/images/fibreglassroof.jpg')" id="fibreglass">Fibreglass</div>
    </div>
    
    <div class="columns small-6">
      <div class="material_icon" style="background-image:url('/images/slateroof.jpg')" id="slate">Slate</div>
    </div>
  </div>
  
  <div class="row">
   <div class="columns small-6">
     <div class="material_icon" style="background-image:url('/images/asbestosroof.jpg')" id="asbestos">Asbestos</div>
   </div>

   <div class="columns small-6">
     <div class="material_icon" id="unknown">Unknown</div>
   </div>
  </div>
  
  <div class="info_icon">
    <a href="#" data-reveal-id="material_info" id="shade_button"><img class="info-icon" src="/images/info_sign.png"></a>
  </div>

  <div id="material_info" class="reveal-modal info-popup" data-reveal>
    <p>“What the roof is made out of can really affect how easy it is to install panels on. Steel is best, tiles are usually OK, asbestos is bad news. And if the roof is thatched? Forget it.”</p>
    <a class="close-reveal-modal">&#215;</a>
  </div>

</div>