<div class="page red" id="pageSeven">
  <div class="row">
    <div class="columns">
      <p>
        Let's check the angle of the roof. Tilt your phone to match the slope!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <h1 id="setRoofAngle" class="chunky">
        No device orientation data 
      </h1>
    </div>
  </div>
  
  <a onclick="show('pageEight');" id="toPageEight">
    <div class="button-holder">
      <div class="button">Capture!</div>
    </div>
  </a>
  
</div>