<div class="page orange" id="pageSix">
  <p>
    Is the roof sloped or flat?

  <div id="flatRoof" onclick="show('pageEight');">
    <img src="/images/img_roof_flat.png" data-form="flat-form" class="submit_form"><br>
    Flat
  </div>

  <div id="slopedRoof" onclick="show('pageSeven');">
    <img src="/images/img_roof_sloped.png" data-form="sloped-form" class="submit_form"><br>
    Sloped
  </div>
  
  </p>
  
  <div class="help-open"><i class="icon-question-circle"></i></div>
  
  <div class="help animated">
    <strong>Angle</strong>: A shallow pitched roof is great 
    if it’s facing south, and even east/west facing pitches 
    can work out just fine for solar. Flat roofs allow fine 
    tuning of panel orientation, but can often be hard to 
    install on for structural reasons.
    <div class="button help-close">Got it!</div>
  </div>

</div>