<div class="page purple expand" id="<%= page_id %>" data-next="page_index">
  <h3>BAM! All done.</h3>
  
  <p>
    We’ve sent your report to <strong><span id="user_email"></span></strong>
    and added your discovery to the <strong>LookUp! database</strong>, where community 
    energy groups can find good-looking roofs for solar panels. 
  </p>
  
  <div class="button-holder">
    <div class="button nav">Start again</div>
  </div>
  
</div>