<div class="page brown expand" id="<%= page_id %>">
  BAM! All done.
    We’ve sent your report to <span id="user_email"></span> and added your discovery to the Look Up database, where community energy groups can find good-looking roofs for solar panels. 

    <a href="https://1010global.org.uk">Go there now (under construction)</a>
    <a href='/'>Start again</a>
</div>