<div class="page purple expand" id="<%= page_id %>" data-next="page_index">
  <h3>Thank you!</h3>
  
  <p>
    You’ve finished the roof-checking bit,<br>
    but what should happen next? 
  </p>
  
  <p>
    <strong>Turn your phone on its side to let us know your thoughts.</strong>
  </p>
  
  <div class="button-holder">
    <div class="button nav">Start again</div>
  </div>
  
</div>