<div class="page red hello" id="<%= page_id %>" data-next="page_intro">
  Hello.<br>
  <div class="arrow">
    Add app to phone<br>
    <i class="icon-down animated bounce infinite"></i>
  </div>
</div>