<div class="page red hello nav" id="<%= page_id %>" data-next="page_intro">
  
  <h1 class="middle">LookUp!</h1>
  <p class="lead">
    The rooftop treasure hunt<br>
    for solar prospectors
  </p>

  <div class="button nav">Start</div>
  
  <div class="arrow">
    Add app to homescreen<br>
    <i class="icon-down animated bounce infinite"></i>
  </div>
</div>