<div class="page blue hello expand" id="<%= page_id %>" data-next="page_orientation">
  
  <div class="page-slides-mask expand">
    
    <div class="page-slides">
      
      <div class="page-slide expand">
        
        <div class="content">
          <div class="sun">
            <img src="/images/img_sun.png" />
          </div>
          
          <div class="logo"><img src="/images/img_logo.png" /></div>
          
          <h3>
            a rooftop treasure hunt<br>
            for solar prospectors
          </h3>
          
          <div class="house" style="background-image:url('/images/img_house_rays.png');"></div>
        </div>
        
        <div class="button-holder">
          <div class="button bottom next">Get started!</div>
        </div>
      </div>
    
    
      <div class="page-slide expand">
        
        <div class="content">
          <h1>One</h1>
          People everywhere are teaming up to repower their town 
          with <strong>solar panels</strong>. That means less 
          carbon pollution and <strong>more money</strong> 
          for important stuff
          <div class="library" style="background-image:url('/images/img_library.png');"></div>
        </div>
        
        <div class="button-holder">
          <div class="button bottom next">Next</div>
        </div>
        
      </div>
  
  
      <div class="page-slide expand">
        
        <div class="content">
          <h1>Two</h1>
          Where to put all those solar panels?<br>
          Easy - just <strong>Look Up!</strong> Found a big roof that looks good?
          Use Look Up to check it out.
          <div class="snappy" style="background-image:url('/images/img_snappy.png');"></div>
        </div>
        
        <div class="button-holder">
          <div class="button bottom next">Next</div>
        </div>
        
      </div>
  
  
      <div class="page-slide expand">
        
        <div class="content">
          <h1>Three</h1>
          When you're done, you can share your find with a local community energy group, 
          or get tips on starting your own.
          <div class="signpost" style="background-image:url('/images/img_signpost.png');"></div>
        </div>
      
        <div class="button-holder">
          <div class="button bottom nav">Ok, let's go!</div>
        </div>
        
      </div>
    
    </div>
    
    <div class="city" style="background-image:url('/images/img_city.png');"></div>
    
  </div>
  
</div>