<div class="page green" id="<%= page_id %>" data-next="page_orientation">
  
  <div class="slide-panels">
    
    <div class="slide-panel">
      <h1>Panel 1</h1>
      People everywhere are teaming up to repower their town 
      with <strong>solar panels</strong>.
      That means less carbon pollution and 
      <strong>more money</strong> for important stuff
    </div>
  
    <div class="slide-panel">
      <h1>Panel 2</h1>
      Where to put all those solar panels? Easy - just <strong>Look Up!</strong><br>
      Found a big roof that looks good? Use Look Up to check it out.
    </div>
  
    <div class="slide-panel">
      <h1>Panel 3</h1>
      When you're done, you can share your find with a local community energy group, 
      or get tips on starting your own.
      
      <div class="button nav">Let's go!</div>
    </div>
    
  </div>
  
</div>
