<div class="page green nav" id="<%= page_id %>" data-next="page_orientation">
  <p>
    People everywhere are teaming up to repower their town with <strong>solar panels</strong>.
    That means less carbon pollution and <strong>more money</strong> for important stuff.
  </p>
  
  <p>
    Where to put all those solar panels? Easy - just <strong>Look Up!</strong><br>
    Found a big roof that looks good? Use Look Up to check it out.
  </p>
  
  <p>
    When you're done, you can share your find with a local community energy group, 
    or get tips on starting your own.
  </p>
  
</div>
