<div class="page green" id="<%= page_id %>" data-next="page_shade">
  <p>What's the roof made of?</p>
    
  <div class="material_icon" style="background-image:url('/images/metalroof.jpg')" id="metal">
    Metal
  </div>
  
  <div class="material_icon" style="background-image:url('/images/tiledroof.jpg')" id="tiles">
    Tiles
  </div>
  
  <div class="material_icon" style="background-image:url('/images/concreteroof.jpg')" id="concrete">
    Concrete
  </div>
  
  <div class="material_icon" style="background-image:url('/images/asphaltroof.jpg')" id="asphalt">
    Asphalt
  </div>
  
  <div class="material_icon" style="background-image:url('/images/fibreglassroof.jpg')" id="fibreglass">
    Fibreglass
  </div>

  <div class="material_icon" style="background-image:url('/images/slateroof.jpg')" id="slate">
    Slate
  </div>
  
  <div class="material_icon" style="background-image:url('/images/asbestosroof.jpg')" id="asbestos">
    Asbestos
  </div>

  <div class="material_icon" id="unknown">Unknown</div>
  
  <div class="help-open"><i class="icon-question-circle"></i></div>
  
  <div class="help animated">
    <strong>Material</strong>
    What the roof is made out of can really affect how easy 
    it is to install panels on. Steel is best, tiles are usually OK, 
    asbestos is bad news. And if the roof is thatched? Forget it.
    <div class="button help-close">Got it!</div>
  </div>

</div>