<div class="page blue" id="<%= page_id %>" data-next="page_results">
  
  <p>
    Here’s your roof – let’s measure it!<br>
    First, drag the the pins to draw a line down the angled edge of the roof.</div>
    <button class="button expand bottom">Ok, got it</button>
  </p>
  
  <p>
    <div id="mapPage">
      <div id="map-canvas"></div>
      <div id="2nd_text">Now draw a new line across the other edge.</div>
   
      <input type="hidden" id="angled" placeholder="Angled Edge" name="angled_edge" value="0">
      <button id="btn-angled" class="button expand bottom">Measure angled edge</button>
      <input type="hidden" id="gutter" placeholder="Gutter Edge" name="gutter_edge" value="0">
    </div>
  </p>
 
</div>