<div class="page blue expand" id="<%= page_id %>" data-next="page_results">
  <div id="map" class="expand"></div>

  <div class="map-info">
    <h3 id="mapText">Here’s your roof – let’s measure it!</h3>
    <p>First, drag the the pins to draw a line down the angled egde of the roof.</p>
  </div>
  
  <div class="button-holder">
    <div class="step open">
      <h3>Let's measure your roof. Drag the points to each corner.</h3>
    </div>
    <div class="step">
      <h3>Great, now click the edge that has the gutter.</h3>
    </div>
    <div class="step">
      <div class="button nav" id="measurementsPost">All done.</div>
    </div>
  </div>

</div>
