<div class="page red expand" id="<%= page_id %>" data-next="page_roof_type">
  
  <h4>Which way does your roof face? Angle your phone square-on to the gutter to check.</h4>
  
  <div class="compass">
    <img class="bg" src="/images/img_compass.png">
    <img class="needle" src="/images/img_compass_needle.png">
  </div>

  <!--Compass bearing is <strong><span id="compass"></span><span>&deg;</span></strong>.-->
  <h3>Roof faces <span id="facing"></span></h3>
  
  <div class="button-holder">
    <div class="button nav" id="orientationPost">Capture!</div>
  </div>

  <div class="help-open"><i class="icon-question-circle"></i></div>
  
  <div class="help animated">
    <strong>Aspect</strong>: South facing roofs are best, 
    while North facing ones don’t get enough sun for solar. 
    Anywhere from East to West via South should work.
    <div class="button help-close">Got it!</div>
  </div>
  
</div>