<div class="page brown" id="<%= page_id %>" data-next="page_material">
  <div id="screen">
    <p>
      Snap a picture of the building. Make sure the roof is visible!
    </p>
    
    <div class="button-holder">
      <div class="button" id="btn-choose-photo">Take or choose photo</div>
    </div>
  </div>
  
  <div class="offscreen">
    <input type="hidden" id="photoReady" value="">
    <form enctype="multipart/form-data" id="photoForm">
      <input type="file" name="file" capture="camera" accept="image/*" id="takePictureField" class="custom-file-input data_capture_form">
    </form>
    <span id="btn-after-photo" class="nav" />
  </div>
  
</div>
