<div class="page purple expand" id="<%= page_id %>" data-next="page_material">
  
  <div id="screen">
    <h3>
      Snap a picture of the building.<br>
      Make sure the roof is visible!
    </h3>
    
    <div class="snappy"></div>
    
    <input type="file" name="file" capture="camera" accept="image/*" id="takePictureField">
    
    <div class="button-holder">
      <div class="button nav" id="choosePhoto">Take photo</div>
    </div>
    
  </div>
  
</div>