<div class="page brown" id="<%= page_id %>" data-next="page_photo_result">
  <div id="screen">
    <p>
      Snap a picture of the building. Make sure the roof is visible!
    </p>
    
    <div class="button-holder">
      <div class="button" id="btn-activate-camera">Ok, ready</div>
    </div>
  </div>
</div>
