<div class="page brown" id="<%= page_id %>" data-next="page_material">
  <div id="screen">
    <input type="hidden" id="photoReady" value="">
    <p>
      Snap a picture of the building. Make sure the roof is visible!
    </p>
    
    <div>
      <div class="button" id="activateCamera">Ok, ready</div>
    </div>
  </div>
  <form style="visibility:hidden;" enctype="multipart/form-data" id="photoForm">
    <input type="file" name="file" capture="camera" accept="image/*" id="takePictureField">
    <button class="button nav" id="submit_button">OK...</button>
  </form>
</div>
