<div class="page brown" id="<%= page_id %>" data-next="page_material">
  <input type="hidden" id="photoReady" value="">

  <form enctype="multipart/form-data" id="photoForm">
    <input type="file" name="file" capture="camera" accept="image/*" id="takePictureField" class="custom-file-input data_capture_form">
  </form>
  
  <div class="button-holder nav" style="display:none" id="submit_button">
    <div class="button nav">Done, next.</div>
  </div>
</div>