<div class="page brown" id="<%= page_id %>" data-next="page_result">
  <div id="screen">
    <p>
      Snap a picture of the building. Make sure the roof is visible!
    </p>
    
    <div class="button-holder nav">
      <div class="button">Ok, ready</div>
    </div>
  </div>
</div>
