<div class="page blue expand" id="<%= page_id %>" data-next="page_final">
  <h3>Your results</h3>
  
  <p>
    This <span id="roofMaterial"></span> roof could hold around <strong><span id="panelCapacity"></span></strong> solar panels - enough to power <strong><span id="homesToPower"></span></strong> homes! (<span id="powerCapacity"></span> kWp)
  </p>
  
  <!--
  Shade<br>
  <strong><span id="roofShade"></span></strong><br>

  Roof angle<br>
  <strong><span id="roofAngle"></span> &deg;</strong><br>
  -->
    
  <div class="button-holder">
    <div class="input">
      <!--<input type="text" placeholder="Claim the glory: add your name" name="discovered_by">-->
      <input type="email" placeholder="Enter your email address" name="user_email" id="user_email">
    </div>
    <div class="button nav" id="userPost">Save results!</div>
  </div>
</div>