<div class="page red" id="<%= page_id %>" data-next="page_index">
  <p>Your results</p>
  
  <p>
    Solar panel capacity<br>
    <strong><span id="panelCapacity"></span> panels</strong>
  </p>
  
  <p>
    Estimated power<br>
    <strong><span id="powerCapacity"></span> kWp</strong>
  </p>
  
  <p>
    Material<br>
    <strong><span id="roofMaterial"></span></strong>
  </p>
  
  <p>
    Shade<br>
    <strong><span id="roofShade"></span></strong>
  </p>
  
  <p>
    Roof angle<br>
    <strong><span id="roofAngle"></span> &deg;</strong>
  </p>
      
  <p>
    Looking good! Just a couple more things.
    <form id="user_data" name="creator">
      <input type="text" placeholder="Give it a title: something memorable" name="title">
      <input type="text" placeholder="Claim the glory: add your name" name="discovered_by">
      <input type="text" placeholder="Your email" name="user_email">
      <input type="submit" id="save_data" class="button expand" value="Send me the results!"/>
    </form>
  </p>
</div>