<div class="page red expand" id="<%= page_id %>" data-next="page_final">
  <p>Alright, lets finish this up!</p>
  
  <p>
    <strong>This roof could take about <span id="panelCapacity"></span> solar panels</strong><br>

    <strong><span id="powerCapacity"></span> kWp</strong><br>
    <strong>Enough to power <span id="homesToPower"></span> homes!</strong><br>

    Material<br>
    <strong><span id="roofMaterial"></span></strong><br>

    Shade<br>
    <strong><span id="roofShade"></span></strong><br>

    Roof angle<br>
    <strong><span id="roofAngle"></span> &deg;</strong><br>
  </p>
      
  <p>
    Looking good! Just a couple more things.
    <form id="user_data" name="creator">
      <input type="text" placeholder="Claim the glory: add your name" name="discovered_by">
      <input type="text" placeholder="Your email" name="user_email">
      <input type="submit" id="save_data" class="nav button expand" value="Send me the results!"/>
    </form>
  </p>
</div>