<div class="page orange" id="<%= page_id %>" data-next="page_photo">
  <h1>Is the roof sloped or flat?</h1>
  
  <div class="roof_type nav submit_form" id="flatRoof" data-form="flat-form">
    <div class="img"></div>
    <div class="label">Flat</div>
  </div>
  
  <div class="roof_type nav submit_form" id="slopedRoof" data-form="floped-form">
    <div class="img"></div>
    <div class="label">Sloped</div>
  </div>
  
  <div class="help-open"><i class="icon-question-circle"></i></div>
  
  <div class="help animated">
    <strong>Angle</strong>: A shallow pitched roof is great 
    if it’s facing south, and even east/west facing pitches 
    can work out just fine for solar. Flat roofs allow fine 
    tuning of panel orientation, but can often be hard to 
    install on for structural reasons.
    <div class="button help-close">Got it!</div>
  </div>

</div>