<div class="page red" id="<%= page_id %>" data-next="page_photo">
  
  <p>
    Let's check the angle of the roof. Tilt your phone to match the slope!
  </p>

  <p id="setRoofAngle" class="chunky">
    No device orientation data 
  </p>
  
  <div class="button-holder">
    <div class="button">Capture!</div>
  </div>
  
</div>