<div class="page red expand" id="<%= page_id %>" data-next="page_photo">
  
  <h3>
    Let's check the angle of the roof.<br>
    Tilt your phone to match the slope!
  </h3>
  
  <div class="roof_angler"></div>

  <h1 id="setRoofAngle">
    No device orientation data 
  </h1>
  
  <div class="button-holder">
    <div class="button nav" id="roofAnglePost">Capture!</div>
  </div>
  
</div>