<div class="page orange expand" id="<%= page_id %>" data-next="page_photo">
  <h3>What kind of roof?</h3>
  
  <div class="roof_type selected" id="flatRoof">
    <div class="img"></div>
    <h3>Flat</h3>
  </div>
  
  <div style="clear:left;"></div>
  
  <div class="roof_type" id="slopedRoof">
    <div class="img"></div>
    <h3>Sloped</h3>
  </div>
  
  <div class="button-holder">
    <div class="button nav" id="roofTypePost">Done</div>
  </div>
  
  <div class="help-open"><i class="icon-question-circle"></i></div>
  
  <div class="help animated">
    <strong>Angle</strong>: A shallow pitched roof is great 
    if it’s facing south, and even east/west facing pitches 
    can work out just fine for solar. Flat roofs allow fine 
    tuning of panel orientation, but can often be hard to 
    install on for structural reasons.
    <div class="button help-close">Got it!</div>
  </div>

</div>