<div class="page pink expand" id="<%= page_id %>" data-next="page_measurement">

  <h3>
    Is there anything around that could<br>
    cast a shadow on the roof?
  </h3>
  
  <div class="roof_shade selected" data-value="0">
    <div class="roof"></div>
    <h3>None</h3>
  </div>
  
  <div style="clear:left;"></div>
  
  <div class="roof_shade" data-value="1">
    <div class="shade half"></div>
    <div class="roof"></div>
    <h3>Partial</h3>
  </div>
  
  <div style="clear:left;"></div>
  
  <div class="roof_shade" data-value="2">
    <div class="shade full"></div>
    <div class="roof"></div>
    <h3>Full</h3>
  </div>
  
  <div class="button-holder">
    <div class="button nav" id="shadePost">Done</div>
  </div>
  
  <div class="help-open"><i class="icon-question-circle"></i></div>
  
  <div class="help animated">
    <strong>Shading</strong> can make all the difference to a roof’s potential, 
    and even a little bit of shading - for instance, like the thin shadow 
    cast by overhead phone cables - can be a big problem for solar panels’ power output. 
    Watch out for things like nearby buildings and trees, and chimneys or air conditioning 
    units on the roof in question. <!--Shading will be different at different times of day, 
    so it’s hard to get this right during a spot check. 
    Just give it your best guess for now.-->
    <div class="button help-close">Got it!</div>
  </div>

</div>