<div class="page blue" id="<%= page_id %>" data-next="page_measurement">

  <p>
    Is there anything around that could cast a shadow on the roof? 
    Use the slider to record the shading. 
  </p>

  <p class="chunky" id="shade">Half Shade</p>

  <p>
    <img src="/images/img_shade.png" style="width:100%">
    <input type="range" class="slider-properties" id="shader" min="0" max="2" step="1" name="shade">
  </p>
  
  <div class="button-holder">
    <div class="button nav" id="shadePost">Next</div>
  </div>
  
  <div class="help-open"><i class="icon-question-circle"></i></div>
  
  <div class="help animated">
    <strong>Shading</strong> can make all the difference to a roof’s potential, 
    and even a little bit of shading - for instance, like the thin shadow 
    cast by overhead phone cables - can be a big problem for solar panels’ power output. 
    Watch out for things like nearby buildings and trees, and chimneys or air conditioning 
    units on the roof in question. <!--Shading will be different at different times of day, 
    so it’s hard to get this right during a spot check. 
    Just give it your best guess for now.-->
    <div class="button help-close">Got it!</div>
  </div>

</div>