<div class="page" id="pageOne">
  <welcome class="row large-12 medium-8 small-6 small-centered medium centered columns">
    <div id="page-wrap" class="welcome-page">

      <a href="/roofs">
        <img src="/images/img_logo.png" />
      </a>
      
      <h2>
        A rooftop treasure hunt<br>
        for solar prospectors
      </h2>
      <button onclick="show('pageTwo');" class="button expand bottom">Start</button>
    </div>
  </welcome>
</div>