<div class="page" id="pageFour">
  <div class="container">
    <div class="row">
      <div class="columns">
        <p>
          When you're done, you can share your find with a local community energy group, or get tips on starting your own.
        </p>
        <button onclick="show('pageFive');" class="button expand bottom" id="toPageFive">Let's go!</button>
      </div>
    </div>
  </div>
</div>