<div class="page" id="pageThree">
  <div class="container">
    <div class="row">
      <div class="columns">
        <p>
        Where to put all those solar panels? Easy - just <strong>Look Up!</strong><br>
        Found a big roof that looks good? Use Look Up to check it out.
        </p>
        <button onclick="show('pageFour');" class="button expand bottom" id="toPageFour">Next</button>
      </div>
    </div>
  </div>
</div>