<div class="page" id="pageSix">
  <div id="screen" onclick="myFunction()">
    <p>
      Snap a picture of the building. Make sure the roof is visible!
    </p>
    <a class="button expand bottom"><i class="fa fa-camera"></i> Ok, ready</a>
  </div>

  <img id="yourimage">

  <form enctype="multipart/form-data" id="photoForm">
    <input type="file" name="file" capture="camera" accept="image/*" id="takePictureField" class="custom-file-input data_capture_form">
    <input id="submit_button" style="display:none" class="button round button_background" type="submit" value="OK...">
    <!-- <button class="button round button_background" style="display:none" id="submit_button" onclick="show('pageSeven');">OK...</button> -->
  </form>
</div>
