<div class="page" id="pageSeven">
  <div class="row">
    <div class="columns">
      <p>
        Let's check the angle of the roof. Tilt your phone to match the slope!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <h1 id="dataContainerOrientation" class="chunky">
        No device orientation data 
      </h1>
    </div>
  </div>

   <button onclick="show('pageEight');" class="button expand bottom" id="toPageEight">Capture!</button>
</div>