<div class="page" id="pageFour">
  <div class="row">

    <div class="row">
      <div class="column">
        <p>
          Is the roof sloped or flat?
        </p>
      </div>
    </div>

    <div class="info_icon">
      <a href="#" data-reveal-id="roof_info" id="shade_button"><img class="info-icon" src="/images/info_sign.png"></a>
    </div>

    <div class="column small-6" id="flatRoof" onclick="show('pageSix');">
      <img src="/images/img_roof_flat.png" data-form="flat-form" class="submit_form"><br>
      Flat
    </div>

    <div class="column small-6" id="slopedRoof" onclick="show('pageFive');">
      <img src="/images/img_roof_sloped.png" data-form="sloped-form" class="submit_form"><br>
      Sloped
    </div>
    <div id="roof_info" class="reveal-modal info-popup" data-reveal>
      <p>
        <strong>Angle</strong>: A shallow pitched roof is great if it’s facing south, and even east/west facing pitches can work out just fine for solar. Flat roofs allow fine tuning of panel orientation, but can often be hard to install on for structural reasons.
      </p>
      <a class="close-reveal-modal">&#215;</a>
    </div>
  </div>
</div>