<div class="page" id="pageTen">
  <div class="row"> 
    <div class="columns">
      <h4>
        Is there anything around that could cast a shadow on the roof? 
        Use the slider to record the shading.
      </h4>
    </div>
  </div>
  
  <br>
  

  <div class="row">
    <div class="columns">
      <h3 class="chunky" id="shade">Half Shade</h3>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <img src="/images/img_shade.png">
    </div>
  </div>

  <div class="row">
    <div class="large-6 medium-8 small-12 large-centered medium-centered small-centered column">
        <input type="range" class="slider-properties" id="shader" min="0" max="2" step="1" name="shade">
        <button class="button expand bottom" id="toPageEleven" onclick="show('pageEleven'); resizeMap();">Next</button>
    </div>
  </div>

  <div class="info_icon">
    <a href="#" data-reveal-id="shade_info" id="shade_button"><img class="info-icon" src="/images/info_sign.png"></a>
  </div>

  <div id="shade_info" class="reveal-modal info-popup" data-reveal>
    <p>“Shading can make all the difference to a roof’s potential, and even a little bit of shading - for instance, like the thin shadow cast by overhead phone cables - can be a big problem for solar panels’ power output. Watch out for things like nearby buildings and trees, and chimneys or air conditioning units on the roof in question. Shading will be different at different times of day, so it’s hard to get this right during a spot check. Just give it your best guess for now.”</p>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>