

<div class="page white">
  
  
  

    
  <br>

  <section id="compassSection">
    <div>Compass bearing is <strong><span id="compass"></span><span>&deg;</span></strong></h3>
  </section>

  <section id="rooFacing">
    <div>Roof is facing <strong><span id="facing"></span></strong></div>
  </section>

  <div class="info_icon">
    <a href="#" data-reveal-id="roof_info" id="shade_button"><img class="info-icon" src="/images/info_sign.png"></a>
  </div>
  
  <div id="roof_info" class="reveal-modal info-popup" data-reveal>
    <p>
      <strong>Aspect</strong>: South facing roofs are best, while North facing ones don’t get enough sun for solar. Anywhere from East to West via South should work.
    </p>
    <p>
      <strong>Angle</strong>: A shallow pitched roof is great if it’s facing south, and even east/west facing pitches can work out just fine for solar. Flat roofs allow fine tuning of panel orientation, but can often be hard to install on for structural reasons.
    </p>
    <a class="close-reveal-modal">&#215;</a>
  </div>

</div>


