<script type="text/javascript" src="/js/orientation.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>

<div class="page white">
  
  <div class="row">
    <div class="column">
      <p>
        Angle your phone square-on to the roof to check which way it faces. When you are ready select the roof type
      </p>
    </div>
  </div>
  
  <div class="row">
    
    <div class="column small-6">
      <img src="/images/img_roof_flat.png" data-form="flat-form" class="submit_form"><br>
      Flat
      
      <form action="/roofs/<%=@roof.id%>/flat" method="post" id="flat-form">
        <input type="hidden" name="angle" value="0">
        <input type="hidden" value="" name="orientation" id="flat_hidden">
      </form>
    </div>
    
    <div class="column small-6">
      <img src="/images/img_roof_sloped.png" data-form="sloped-form" class="submit_form"><br>
      Sloped
      
      <form action="/roofs/<%=@roof.id%>/sloped" method="post" id="sloped-form">
        <input type="hidden" value="" name="orientation" id="sloped_hidden">
      </form>
    </div>
  </div>
    
  <br>

  <section id="compassSection">
    <div>Compass bearing is <strong><span id="compass"></span><span>&deg;</span></strong></h3>
  </section>

  <section id="rooFacing">
    <div>Roof is facing <strong><span id="facing"></span></strong></div>
  </section>

  <div class="info_icon">
    <a href="#" data-reveal-id="roof_info" id="shade_button"><img class="info-icon" src="/images/info_sign.png"></a>
  </div>
  
  <div id="roof_info" class="reveal-modal info-popup" data-reveal>
    <p>
      <strong>Aspect</strong>: South facing roofs are best, while North facing ones don’t get enough sun for solar. Anywhere from East to West via South should work.
    </p>
    <p>
      <strong>Angle</strong>: A shallow pitched roof is great if it’s facing south, and even east/west facing pitches can work out just fine for solar. Flat roofs allow fine tuning of panel orientation, but can often be hard to install on for structural reasons.
    </p>
    <a class="close-reveal-modal">&#215;</a>
  </div>

</div>

<script>$(document).ready(function(){orientation();});</script>
