Thank you <%= @roof.discovered_by %>!

<p>Please enter your email address below. A link will be sent to you to complete the last part of the process on a desktop computer.</p>
<p>When you submit your email address you will be redirected to the 10:10 homepage</p>

<form action='/roofs/<%=@roof.id%>/email' method="post">
  <input type="text" placeholder="email" name="email">
  <input type="submit" class="button round button_background" value="Send Link">
</form>
