<DOCTYPE html>
<html>
  <head>
  </head>
  <body onload="init()">
    <script>   
    </script>
    <section id="dataContainerOrientation">
      No device orientation data
    </section>

    <button id="capture">Capture</button>

    <script>

    </script>
  </body>
</html>