<div class="box box-1 animated"></div>
<div class="box box-2 animated"></div>

<div class="pages">
  
  <% @page_partials.each do |page| %>
    <%= erb page.to_sym, :locals => {:page_id => "page" + page.gsub('partials/pages/', "") } %>
  <% end %>

</div>

<div class="feedback">
  <h1><i class="icon-ink"></i> Feedback</h1>
  
  <select>
    <option>How do you find the app?</option>
    <option>------------------------</option>
    <option value="0">It's great</option>
    <option value="1">It's ok</option>
    <option value="2">It's not so good</option>
    <option value="3">It's terrible</option>
  </select>
  
  <br>
  
  <select>
    <option>What would improve the app?</option>
    <option>---------------------------</option>
    <option value="0">Could be quicker</option>
    <option value="1">Could be simpler</option>
    <option value="2">Could be a native app</option>
    <option value="2">Could be less buggy</option>
    <option value="3">It's good as it is</option>
  </select>
  
  <br>
  
  <select>
    <option>Any features you'd like to see?</option>
    <option>-------------------------------</option>
    <option value="0">Connect with other people</option>
    <option value="1">Prizes for spotting</option>
    <option value="2">Leaderboards</option>
    <option value="2">No more features needed</option>
  </select>
  
  <br>
  
  <input class="thoughts" placeholder="Any other thoughts/ideas/bugs?" type="text" />
  
  <div class="button" id="feedbackPost">Send feedback</div>
</div>

<div class="beta">
  <div class="content">
    <h3>Dear tester,</h3>
    <p>
      Thank-you for helping us develop this exciting
      new app, <strong>LookUp!</strong>
    </p>
    <p>
      <strong>To leave us feedback at anytime, 
      just turn your phone on its side.</strong>
    </p>
    <p>
      Enjoy,<br>
      <strong>The 10:10 team</strong>
    </p>
    <p>
      <div class="button">Start testing</div>
    </p>
  </div>
</div>
    


