<welcome class="row large-12 medium-8 small-6 small-centered medium centered columns">
  <div id="page-wrap">
    <h1>Look Up</h1>
    <a href="/infopage" class="button round button_background">Get started!</a>
  </div>
</welcome>
