<welcome class="row large-12 medium-8 small-6 small-centered medium centered columns">
  <div id="page-wrap" class="welcome-page">
  
    <h1>Look Up</h1> 

    <form action="/roofs" method="post">
      <button type="submit" class="button round button_background">Get started!</button>
    </form>

  </div>

  <!-- <input type="file" name="file" id="cam" accept="image/*"> -->
</welcome>

<!-- <script>$(document).ready(function(){$('#cam').click()})</script> -->
