<!-- Page one -->
<div class="page" id="pageOne">
  <welcome class="row large-12 medium-8 small-6 small-centered medium centered columns">
    <div id="page-wrap" class="welcome-page">

      <a href="/roofs">
        <img src="/images/img_logo.png" />
      </a>
      
      <h2>
        A rooftop treasure hunt<br>
        for solar prospectors
      </h2>
      <button onclick="show('pageTwo');" class="button expand bottom">Start</button>
    </div>
  </welcome>
</div>

<!-- Page two -->
<div class="page" id="pageTwo">
  <div class="container">
    <div class="row">
      <div class="columns">
        <p>
          People everywhere are teaming up to repower their town with <strong>solar panels</strong>.
          That means less carbon pollution and <strong>more money</strong> for important stuff.
        </p>
        <button onclick="show('pageThree');" class="button expand bottom" id="toPageThree">Next</button>
      </div>
    </div>
  </div>
</div>

<!-- Page three -->
<div class="page" id="pageThree">
    <div class="row">
      <div class="column">
        <p>
          Angle your phone square-on to the roof to check which way it faces. When you are ready click Next
        </p>
      </div>
    </div>

    <section id="compassSection">
      <div>Compass bearing is <strong><span id="compass"></span><span>&deg;</span></strong></h3>
    </section>

    <section id="rooFacing">
      <div>Roof is facing <strong><span id="facing"></span></strong></div>
    </section>

    <button onclick="show('pageFour');" class="button expand bottom" id="toPageFour">Next</button>

    <div class="info_icon">
      <a href="#" data-reveal-id="roof_info" id="shade_button"><img class="info-icon" src="/images/info_sign.png"></a>
    </div>

    <div id="roof_info" class="reveal-modal info-popup" data-reveal>
      <p>
        <strong>Aspect</strong>: South facing roofs are best, while North facing ones don’t get enough sun for solar. Anywhere from East to West via South should work.
      </p>
      <a class="close-reveal-modal">&#215;</a>
    </div>
</div>

<!-- Page four -->
<div class="page" id="pageFour">
  <div class="row">

    <div class="row">
      <div class="column">
        <p>
          Is the roof sloped or flat?
        </p>
      </div>
    </div>

    <div class="info_icon">
      <a href="#" data-reveal-id="roof_info" id="shade_button"><img class="info-icon" src="/images/info_sign.png"></a>
    </div>

    <div class="column small-6" id="flatRoof" onclick="show('pageSix');">
      <img src="/images/img_roof_flat.png" data-form="flat-form" class="submit_form"><br>
      Flat
    </div>

    <div class="column small-6" id="slopedRoof" onclick="show('pageFive');">
      <img src="/images/img_roof_sloped.png" data-form="sloped-form" class="submit_form"><br>
      Sloped
    </div>
    <div id="roof_info" class="reveal-modal info-popup" data-reveal>
      <p>
        <strong>Angle</strong>: A shallow pitched roof is great if it’s facing south, and even east/west facing pitches can work out just fine for solar. Flat roofs allow fine tuning of panel orientation, but can often be hard to install on for structural reasons.
      </p>
      <a class="close-reveal-modal">&#215;</a>
    </div>
  </div>
</div>

<!-- Page five -->
<div class="page" id="pageFive">
  <div class="row">
    <div class="columns">
      <p>
        Let's check the angle of the roof. Tilt your phone to match the slope!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <h1 id="dataContainerOrientation" class="chunky">
        No device orientation data
      </h1>
    </div>
  </div>

   <button onclick="show('pageSix');" class="button expand bottom" id="toPageSix">Capture!</button>
</div>

<!-- Page Six -->
<div class="page" id="pageSix">
  <div id="screen" onclick="myFunction()">
    <p>
      Snap a picture of the building. Make sure the roof is visible!
    </p>
    <a class="button expand bottom"><i class="fa fa-camera"></i> Ok, ready</a>
  </div>

  <img id="yourimage">

  <form enctype="multipart/form-data">
    <input type="file" name="file" capture="camera" accept="image/*" id="takePictureField" class="custom-file-input data_capture_form">
    <input id="submit_button" style="display:none" class="button round button_background" type="submit" value="OK...">
  </form>
</div>
