<div class="box box-1 animated"></div>
<div class="box box-2 animated"></div>

<div class="pages">
  
  <% @page_partials.each do |page| %>
    <%= erb page.to_sym, :locals => {:page_id => "page" + page.gsub('partials/pages/', "") } %>
  <% end %>

</div>


