<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The HTML5 Herald</title>
    <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <video id="video"></video>
    <button id="startbutton">Take photo</button>
    <canvas id="canvas"></canvas>
    <img src="http://placekitten.com/g/320/261" id="photo" alt="photo">
    <script src="camera.js"></script>
  </body>
</html>
