<!-- Page one -->
<div class="page" id="pageOne">
  <welcome class="row large-12 medium-8 small-6 small-centered medium centered columns">
    <div id="page-wrap" class="welcome-page">

      <a href="/roofs">
        <img src="/images/img_logo.png" />
      </a>
      
      <h2>
        A rooftop treasure hunt<br>
        for solar prospectors
      </h2>
      <button onclick="show('pageTwo');" class="button expand bottom">Start</button>
    </div>
  </welcome>
</div>

<!-- Page two -->
<div class="page" id="pageTwo">
  <div class="container">
    <div class="row">
      <div class="columns">
        <p>
          People everywhere are teaming up to repower their town with <strong>solar panels</strong>.
          That means less carbon pollution and <strong>more money</strong> for important stuff.
        </p>
        <button onclick="show('pageThree');" class="button expand bottom" id="toPageThree">Next</button>
      </div>
    </div>
  </div>
</div>

<!-- Page three -->
<div class="page" id="pageThree">
    <div class="row">
      <div class="column">
        <p>
          Angle your phone square-on to the roof to check which way it faces. When you are ready click Next
        </p>
      </div>
    </div>

    <section id="compassSection">
      <div>Compass bearing is <strong><span id="compass"></span><span>&deg;</span></strong></h3>
    </section>

    <section id="rooFacing">
      <div>Roof is facing <strong><span id="facing"></span></strong></div>
    </section>

    <button onclick="show('pageFour');" class="button expand bottom" id="toPageFour">Next</button>

    <div class="info_icon">
      <a href="#" data-reveal-id="roof_info" id="shade_button"><img class="info-icon" src="/images/info_sign.png"></a>
    </div>

    <div id="roof_info" class="reveal-modal info-popup" data-reveal>
      <p>
        <strong>Aspect</strong>: South facing roofs are best, while North facing ones don’t get enough sun for solar. Anywhere from East to West via South should work.
      </p>
      <a class="close-reveal-modal">&#215;</a>
    </div>
</div>

<!-- Page four -->
<div class="page" id="pageFour">
  <div class="row">

    <div class="row">
      <div class="column">
        <p>
          Is the roof sloped or flat?
        </p>
      </div>
    </div>

    <div class="info_icon">
      <a href="#" data-reveal-id="roof_info" id="shade_button"><img class="info-icon" src="/images/info_sign.png"></a>
    </div>

    <div class="column small-6" id="flatRoof" onclick="show('pageSix');">
      <img src="/images/img_roof_flat.png" data-form="flat-form" class="submit_form"><br>
      Flat
    </div>

    <div class="column small-6" id="slopedRoof" onclick="show('pageFive');">
      <img src="/images/img_roof_sloped.png" data-form="sloped-form" class="submit_form"><br>
      Sloped
    </div>
    <div id="roof_info" class="reveal-modal info-popup" data-reveal>
      <p>
        <strong>Angle</strong>: A shallow pitched roof is great if it’s facing south, and even east/west facing pitches can work out just fine for solar. Flat roofs allow fine tuning of panel orientation, but can often be hard to install on for structural reasons.
      </p>
      <a class="close-reveal-modal">&#215;</a>
    </div>
  </div>
</div>

<!-- Page five -->
<div class="page" id="pageFive">
  <div class="row">
    <div class="columns">
      <p>
        Let's check the angle of the roof. Tilt your phone to match the slope!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <h1 id="dataContainerOrientation" class="chunky">
        No device orientation data
      </h1>
    </div>
  </div>

   <button onclick="show('pageSix');" class="button expand bottom" id="toPageSix">Capture!</button>
</div>

<!-- Page Six -->
<div class="page" id="pageSix">
  <div id="screen" onclick="myFunction()">
    <p>
      Snap a picture of the building. Make sure the roof is visible!
    </p>
    <a class="button expand bottom"><i class="fa fa-camera"></i> Ok, ready</a>
  </div>

  <img id="yourimage">

<!--   <form enctype="multipart/form-data">
    <input type="file" name="file" capture="camera" accept="image/*" id="takePictureField" class="custom-file-input data_capture_form"> -->
    <!-- <input id="submit_button" style="display:none" class="button round button_background" type="submit" value="OK..."> -->
    <button class="button round button_background" style="display:none" id="submit_button" onclick="show('pageSeven');">OK...</button>
  <!-- </form> -->
</div>

<!-- Page seven -->
<div class="page" id="pageSeven">
  <h4>
    What's the roof made of?
  </h4>
    
  <div class="row">
    <div class="columns small-6">
      <div class="material_icon selected" style="background-image:url('/images/metalroof.jpg')" id="metal">
        Metal
      </div>
    </div>
    
    <div class="columns small-6">
      <div class="material_icon" style="background-image:url('/images/tiledroof.jpg')">
        Tiles
      </div>
    </div>
  </div>
  

  <div class="row">
    <div class="columns small-6">
      <div class="material_icon" style="background-image:url('/images/concreteroof.jpg')">
        Concrete
      </div>
    </div>
    
    <div class="columns small-6">
      <div class="material_icon" style="background-image:url('/images/asphaltroof.jpg')">
        Asphalt
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="columns small-6">
      <div class="material_icon" style="background-image:url('/images/fibreglassroof.jpg')">
        Fibreglass
      </div>
    </div>
    
    <div class="columns small-6">
      <div class="material_icon" style="background-image:url('/images/slateroof.jpg')">
        Slate
      </div>
    </div>
  </div>
  
  <div class="row">
   <div class="columns small-6">
     <div class="material_icon" style="background-image:url('/images/asbestosroof.jpg')">
       Asbestos
     </div>
   </div>

   <div class="columns small-6">
     <div class="material_icon">
       Unknown
     </div>
   </div>
  </div>

  <button class="button expand" onclick="show('pageEight');">OK, next</button>
  
  <div class="info_icon">
    <a href="#" data-reveal-id="material_info" id="shade_button"><img class="info-icon" src="/images/info_sign.png"></a>
  </div>

  <div id="material_info" class="reveal-modal info-popup" data-reveal>
    <p>“What the roof is made out of can really affect how easy it is to install panels on. Steel is best, tiles are usually OK, asbestos is bad news. And if the roof is thatched? Forget it.”</p>
    <a class="close-reveal-modal">&#215;</a>
  </div>

</div>

<!-- Page Eight -->
<div class="page" id="pageEight">
  <div class="row"> 
    <div class="columns">
      <h4>
        Is there anything around that could cast a shadow on the roof? 
        Use the slider to record the shading.
      </h4>
    </div>
  </div>
  
  <br>
  

  <div class="row">
    <div class="columns">
      <output class="chunky" id="shade">50%</output>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <img src="/images/img_shade.png">
    </div>
  </div>

  <div class="row">
    <div class="large-6 medium-8 small-12 large-centered medium-centered small-centered column">
        <input type="range" class="slider-properties" id="shader" min="0" max="100" step="10" name="shade_value" onchange="outputUpdate(value)">
        <button class="button expand bottom" id="toPageNine" onclick="show('pageNine');">Next</button>
    </div>
  </div>

  <div class="info_icon">
    <a href="#" data-reveal-id="shade_info" id="shade_button"><img class="info-icon" src="/images/info_sign.png"></a>
  </div>

  <div id="shade_info" class="reveal-modal info-popup" data-reveal>
    <p>“Shading can make all the difference to a roof’s potential, and even a little bit of shading - for instance, like the thin shadow cast by overhead phone cables - can be a big problem for solar panels’ power output. Watch out for things like nearby buildings and trees, and chimneys or air conditioning units on the roof in question. Shading will be different at different times of day, so it’s hard to get this right during a spot check. Just give it your best guess for now.”</p>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>

<!-- Page nine -->

<div class="page" id="pageNine">

  <style>
    html, body, #map-canvas {
      height: 400px;
      width: 100%;
    }
  </style>

  <div>Here’s your roof – let’s measure it!</div>
  <div id="map-canvas"></div>
  <div id="1st_text">First, drag the the pins to draw a line down one edge of the roof.</div>
  <div id="2nd_text">Now draw a new line across the other edge.</div>


  <input type="hidden" id="angled" placeholder="Angled Edge" name="angled_edge" value="0">
  <button id="btn-angled" class="button expand bottom">Measure angled edge</button>
  <input type="hidden" id="gutter" placeholder="Gutter Edge" name="gutter_edge" value="0">
  <input id="btn-gutter" class="button expand bottom" value="Now measure gutter edge" onclick="show('pageTen');">
</div>

<!-- Page Ten -->

<div class="page" id="pageTen">
  <h1 class="title">Your results</h1>
  
  <div class="row result">
    <div class="columns small-4">
      <i class="fa fa-th fa-3x pull-left"></i>
    </div>
    <div class="columns small-8 text-left">
      Solar panel capacity<br>
      <strong>panels</strong><br>
    </div>
  </div>
  
  <div class="row result">
    <div class="columns small-4">
      <i class="fa fa-lightbulb-o fa-3x pull-left"></i>
    </div>
    <div class="columns small-8 text-left">
      Estimated power<br>
      <strong>kWp</strong><br>
    </div>
  </div>
  
  <div class="row result">
    <div class="columns small-4">
      <i class="fa fa-cubes fa-3x pull-left"></i>
    </div>
    <div class="columns small-8 text-left">
      Material<br>
      <strong></strong><br>
    </div>
  </div>
  
  <div class="row result">
    <div class="columns small-4">
      <i class="fa fa-tree fa-3x pull-left"></i>
    </div>
    <div class="columns small-8 text-left">
      Shade<br>
      <strong></strong><br>
    </div>
  </div>
  
  <div class="row result">
    <div class="columns small-4">
      <i class="fa fa-expand fa-3x pull-left"></i>
    </div>
    <div class="columns small-8 text-left">
      Roof angle<br>
      <strong>&deg;</strong><br>
    </div>
  </div>
      
  <div class="row">
    <div class="columns">
        Looking good! Just a couple more things.
      <form id="user_data" name="creator">
        <input type="text" placeholder="Give it a title: something memorable" name="title">
        <input type="text" placeholder="Claim the glory: add your name" name="discovered_by">
        <input type="text" placeholder="Your email" name="user_email">
        <input type="submit" id="save_data" class="button expand" value="Send me the results!"/>
      </form>
    </div>
  </div>
</div>
