<intromessage>
  <p>Hi, I’m Tom Parker, Technical Director for REPOWERBalcombe. If you need any help during the process, just click on the</p>
</intromessage>
<button><a href="/photo">Next</a></button>
