<div class="large-8 medium-6 class-4 large-centered medium-centered small-centered column panel panel-color">
  <p>Hi, I’m Tom Parker, Technical Director for REPOWERBalcombe. If you need any help during the process, just click on the <img class="info-icon" src="/images/info_sign.png"></p>
  <p>Remember, bigger is always better when it comes to community solar. Don’t waste time assessing houses and garages - look out for large scale commercial or industrial rooftops instead.</p>
</div>
<a href="/roof_angle" class="button round button_background">Next</a>

