<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>LookUp!</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCn5dROp8__VJNWhOwyA706Ffkm2hw4Bnc"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/watch/2.0.3/jquery.watch.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <link href="https://fontastic.s3.amazonaws.com/CF6wEkZKGTEZN6ay3zbL8n/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.css" />
    <link rel="stylesheet/less" type="text/css" href="/css/main.less" />
    <script src="/js/vendor/less.min.js"></script>
  </head>

  <body>
    <input type="hidden" id="roofId" value="">
    <input type="hidden" id="geoSuccess" data-latitude="" data-longitude="">

    <%= yield %>
    <%= erb :"partials/_flash" %>
    
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/history.js/1.8/native.history.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js"></script>
    <script src="/js/orientation.js"></script>
    <script src="/js/photoUpload.js"></script>
    <script src="/js/gyroscope.js"></script>
    <script src="/js/labels.js"></script>
    <script src="/js/mapAndRuler.js"></script>
    <script src="/js/detect.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/pageChange.js"></script>

  </body>

</html>
