<script src="/js/lookup.js"></script>
<div class="page">
  <h4>
    What's the roof made of?
  </h4>
    
  <div class="row">
    <div class="columns small-6">
      <div class="material_icon selected" style="background-image:url('/images/metal_roof.jpg')" id="metal">
        Metal
      </div>
    </div>
    
    <div class="columns small-6">
      <div class="material_icon" style="background-image:url('/images/tiledroof.jpg')">
        Tiles
      </div>
    </div>
  </div>
  

  <div class="row">
    <div class="columns small-6">
      <div class="material_icon" style="background-image:url('/images/concreteroof.jpg')">
        Concrete
      </div>
    </div>
    
    <div class="columns small-6">
      <div class="material_icon" style="background-image:url('/images/asphaltroof.jpg')">
        Asphalt
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="columns small-6">
      <div class="material_icon" style="background-image:url('/images/fibreglassroof.jpg')">
        Fibreglass
      </div>
    </div>
    
    <div class="columns small-6">
      <div class="material_icon" style="background-image:url('/images/slateroof.jpg')">
        Slate
      </div>
    </div>
  </div>
  
  <div class="row">
   <div class="columns small-6">
     <div class="material_icon" style="background-image:url('/images/asbestosroof.jpg')">
       Asbestos
     </div>
   </div>

   <div class="columns small-6">
     <div class="material_icon">
       Unknown
     </div>
   </div>
  </div>

  <form action="/roofs/<%=@roof.id%>/material" method="post" name="materials" id="material">
    <input type="hidden" value="Unknown" name="material" id="material-input">
    <input type="submit" class="button expand" value="OK, next"/>
  </form>
  
</div>

<div class="info_icon">
  <a href="#" data-reveal-id="material_info" id="shade_button"><img class="info-icon" src="/images/info_sign.png"></a>
</div>

<div id="material_info" class="reveal-modal info-popup" data-reveal>
  <p>“What the roof is made out of can really affect how easy it is to install panels on. Steel is best, tiles are usually OK, asbestos is bad news. And if the roof is thatched? Forget it.”</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
