<h4>What does the roof look like it is made out of?<h4>

<form action="/material_data" method="post" name="materials">
  <label>
  <input type="radio" value="metal" name="material"><br>
  <img src="/images/info_sign.png">
  </label>
  <input type="radio" value="tiles" name="material">Tiles<br>
  <input type="radio" value="concrete" name="material">Concrete<br>
  <input type="radio" value="asphalt" name="material">Asphalt<br>
  <input type="radio" value="asbestos" name="material">Asbestos<br>
  <input type="radio" value="unknown" name="material">Unknown<br>
  <input type="submit" value="Next"/>
</form>
