<div class="large-10 medium-10 small-10 large-centered medium-centered small-centered column panel panel-color">
  <h4>What does the roof look like it is made out of?<h4>
</div>

<form action="/material_data" method="post" name="materials">
  <div class="container-material">
    <div class="row">
      <div class="large-12 columns">
        <ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-2">
          <li>
            <label>
              <div class="large-10 medium-10 small-12 large-centered medium-centered small-centered column panel-material panel-color">
                <input type="radio" value="Metal" name="material"> Metal<br>
              </div>
              <img class="material_img" src="/images/metal_roof.jpg">
            </label>
          </li>
          <li>
            <label>
              <div class="large-10 medium-10 small-12 large-centered medium-centered small-centered column panel-material panel-color">
                <input type="radio" id="tiles" value="Tiles" name="material"> Tiles<br>
              </div>
              <img class="material_img" src="/images/tiled_roof.jpg">
            </label>
          </li>
          <li>
            <label>
              <div class="large-10 medium-10 small-12 large-centered medium-centered small-centered column panel-material panel-color">
                <input type="radio" id="concrete" value="Concrete" name="material"> Concrete<br>
              </div>
              <img class="material_img" src="/images/concrete_roof.jpg">
            </label>
          </li>
          <li>
            <label>
              <div class="large-10 medium-10 small-12 large-centered medium-centered small-centered column panel-material panel-color">
                <input type="radio" id="asphalt" value="Asphalt" name="material"> Asphalt<br>
              </div>
              <img class="material_img" src="/images/Asphalt_roof.jpg">
            </label>
          </li>
          <li>
            <label>
              <div class="large-10 medium-10 small-12 large-centered medium-centered small-centered column panel-material panel-color">
                <input type="radio" id="unknown" value="Unknown" name="material"> Unknown<br>
              </div>
              <img class="material_img" src="/images/question_mark.png">
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="container material-centered">
      <input type="submit" class="button round button_background" value="Next"/>
    </div>

  </div>

</form>
