<div class="large-10 medium-10 small-10 large-centered medium-centered small-centered column panel panel-color">
  <h4>What does the roof look like it is made out of?<h4>
</div>

<form action="/roofs/<%=@roof.id%>/material" method="post" name="materials">
  <div class="container-material">
    <div class="row">
      <div class="large-12 small-12 columns">
        <ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-2">
          <li>
            <label>
              <div class="large-10 medium-10 small-12 large-centered medium-centered small-centered column panel-material panel-color">
                <input type="radio" value="Metal" name="material"> Metal<br>
              </div>
              <a class="dark">
                <img class="material_img" src="/images/Metal_roof.jpg">
              </a>
            </label>
          </li>
          <li>
            <label>
              <div class="large-10 medium-10 small-12 large-centered medium-centered small-centered column panel-material panel-color">
                <input type="radio" id="tiles" value="Tiles" name="material"> Tiles<br>
              </div>
              <a class="dark">
                <img class="material_img" src="/images/Tiled_roof.jpg">
              </a>
            </label>
          </li>
          <li>
            <label>
              <div class="large-10 medium-10 small-12 large-centered medium-centered small-centered column panel-material panel-color">
                <input type="radio" id="concrete" value="Concrete" name="material"> Concrete<br>
              </div>
              <a class="dark">
                <img class="material_img" src="/images/Concrete_roof.jpg">
              </a>
            </label>
          </li>
          <li>
            <label>
              <div class="large-10 medium-10 small-12 large-centered medium-centered small-centered column panel-material panel-color">
                <input type="radio" id="asphalt" value="Asphalt" name="material"> Asphalt<br>
              </div>
              <a class="dark">
                <img class="material_img" src="/images/Asphalt_roof.jpg">
              </a>
            </label>
          </li>
          <li>
          <li>
            <label>
              <div class="large-10 medium-10 small-12 large-centered medium-centered small-centered column panel-material panel-color">
                <input type="radio" id="fibreglass" value="Fibreglass" name="material"> Fibreglass<br>
              </div>
              <a class="dark">
                <img class="material_img" src="/images/Fibreglass_roof.jpg">
              </a>
            </label>
          </li>
          <li>
            <label>
              <div class="large-10 medium-10 small-12 large-centered medium-centered small-centered column panel-material panel-color">
                <input type="radio" id="slate" value="Slate" name="material"> Slate<br>
              </div>
              <a class="dark">
                <img class="material_img" src="/images/Slate_roof.jpg">
              </a>
            </label>
          </li>
          <li>
            <label>
              <div class="large-10 medium-10 small-12 large-centered medium-centered small-centered column panel-material panel-color">
                <input type="radio" id="asbestos" value="Asbestos" name="material"> Asbestos<br>
              </div>
              <a class="dark">
                <img class="material_img" src="/images/Asbestos_roof.jpg">
              </a>
            </label>
          </li>
          <li>
            <label>
              <div class="large-10 medium-10 small-12 large-centered medium-centered small-centered column panel-material panel-color">
                <input type="radio" id="unknown" value="Unknown" name="material"> Unknown<br>
              </div>
              <a class="dark">
                <img class="material_img" src="/images/Unknown_roof.jpeg">
              </a>
            </label>
          </li>
          <li>
        </ul>
      </div>
    </div>
    <div class="container material-centered">
      <input type="submit" class="button round button_background" value="Next"/>
    </div>
  </div>
</form>

<div class="info_icon">
  <a href="#" data-reveal-id="material_info" id="shade_button"><img class="info-icon" src="/images/info_sign.png"></a>
</div>

<div id="material_info" class="reveal-modal info-popup" data-reveal>
  <p>“What the roof is made out of can really affect how easy it is to install panels on. Steel is best, tiles are usually OK, asbestos is bad news. And if the roof is thatched? Forget it.”</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

