<style>
  html, body, #map-canvas {
    height: 400px;
    width: 400px;
  }
</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3"></script>
<script type="text/javascript" src="/js/labels.js"></script>
<script type="text/javascript" src="/js/mapAndRuler.js"></script>

<div id="map-canvas" data-roof-id="<%=@roof.id%>"></div>

<input type='button' id='angled_ruler' onclick='addruler();' value='Set Angled Edge' style="color: red"/>
<input type='button' id='gutter_ruler' onclick='addruler();' value='Set Gutter Edge' style="color: red"/>

<form action='/roofs/<%=@roof.id%>/measurements' method="post">

  <angled id="angled_form">
    <input type="hidden" id="angled" placeholder="Angled Edge" name="angled_edge" value="">
    <input type="submit" id="btn-angled" class="button round button_background" value="Submit Angled Edge"></button>
  </angled>

  <gutter id="gutter_form">
    <input type="hidden" id="gutter" placeholder="Gutter Edge" name="gutter_edge" value="">
    <input type="submit" id="btn-gutter" class="button round button_background" value="Submit Gutter Edge">
  </gutter>

</form>

