

<div id="PhotoInfo">
  <p><br><br>Stand nearby and square on<br>
    to your building and take a photograph!
    <br><br><br><br><br>
    Ok, I got it.
  </p>
</div>

<input type="file" capture="camera" accept="image/*" id="takePictureField">

<img id="yourimage">

<script>$( document ).ready(function(){ greyOut('#PhotoInfo'); });</script>
