This is the photo taking page

<div id="PhotoInfo">
  <p><br><br>Stand nearby and square on<br>
    to your building and take a photograph!
    <br><br><br><br><br>
    Ok, I got it.
  </p>
</div>

<script>$( document ).ready(function(){ greyOut('#PhotoInfo'); });</script>
