<script type="text/javascript" src="/js/location.js"></script>
<script type="text/javascript" src="/js/greyBox.js"></script>
<script type="text/javascript" src="/js/detect.min.js"></script>

<script>
  $(document).ready(function(){greyOut('#screen');});
  $(document).ready(function(){browserDetect();});
</script>

<div class="page" data-roof-id="<%=@roof.id%>">
  <div id="screen" onclick="myFunction()">
    <p>
      Snap a picture of the building. Make sure the roof is visible!
    </p>
    <a class="button expand bottom"><i class="fa fa-camera"></i> Ok, ready</a>
  </div>
</div>

<img id="yourimage">

<form action="/roofs/<%=@roof.id%>/photo" method="post" enctype="multipart/form-data">
  <input type="file" name="file" capture="camera" accept="image/*" id="takePictureField" class="custom-file-input data_capture_form">
  <input id="submit_button" style="display:none" class="button round button_background" type="submit" value="OK...">
</form>
