

<div id="PhotoInfo">
  <p><br><br>Stand nearby and square on<br>
    to your building and take a photograph!
    <br><br><br><br><br>
    Ok, I got it.
  </p>
</div>

<form action="/photo_capture" method="post" enctype="multipart/form-data">
<input type="file" name="file" capture="camera" accept="image/*" id="takePictureField" class="custom-file-input">
<input type="submit">
</form>

<script>$( document ).ready(function(){ greyOut('#PhotoInfo'); });</script>
