<h2>Roof Angle</h2>

<form>
  <input type="submit" value="Flat" id="flat">
  <input type="submit" value="Sloped" id="sloped">
</form>


<style>
  #compass{
    width: 40%;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
  }
</style>

<section>
  <img src="/images/compass.png" id="compass"/>
<section>

<script>
  $(document).ready(function() {
    function init() {

      var alpha;

      var compass = document.getElementById('compass');

      if(window.DeviceOrientationEvent) {
        window.addEventListener('deviceorientation', function(event) {
          if(event.webkitCompassHeading) {
            alpha = event.webkitCompassHeading;
            compass.style.WebkitTransform = 'rotate(-' + alpha + 'deg)';
          }
          else {
            alpha = event.alpha;
            webkitAlpha = alpha;
            if(!window.chrome) {
              webkitAlpha = alpha-270;
            }
          }
          compass.style.Transform = 'rotate(' + alpha + 'deg)';
          compass.style.WebkitTransform = 'rotate('+ webkitAlpha + 'deg)';
          compass.style.MozTransform = 'rotate(-' + alpha + 'deg)'; 
        }, false);
      }
    }
        $('#flat').click(function(event){
          event.preventDefault();
          $.post('/flat_roof_orientation_angle', { roof_orientation: alpha});
          window.location.href = '/summary';
        });

      $('#sloped').click(function(event){
        event.preventDefault();
        $.post('/sloped_roof_angle',{ roof_orientation: alpha });
        // window.location.href = '/sloped_roof';
      });
  });
</script>