<DOCTYPE html>
<html>
  <head>
    <style>
      #compass{
        width:50%;
        transform-origin: 50% 50%;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
      }
    </style>
    <script>
      function init() {
        var alpha;
        var compass = document.getElementById('compass');
        if(window.DeviceOrientationEvent) {
 
          window.addEventListener('deviceorientation', function(event) {
            // var alpha;
            //Check for iOS property
            if(event.webkitCompassHeading) {
              alpha = Math.round(event.webkitCompassHeading);
              //Rotation is reversed for iOS
              compass.style.WebkitTransform = 'rotate(-' + alpha + 'deg)';
            }
            //non iOS
            else {
              alpha = Math.round(event.alpha);
              webkitAlpha = alpha;
              if(!window.chrome) {
                //Assume Android stock (this is crude, but good enough for our example) and apply offset
                webkitAlpha = alpha-270;
              }
            }

            compass.style.Transform = 'rotate(' + alpha + 'deg)';
            compass.style.WebkitTransform = 'rotate('+ webkitAlpha + 'deg)';
            //Rotation is reversed for FF
            compass.style.MozTransform = 'rotate(-' + alpha + 'deg)'; 
          }, false);
        }

        $('#flat').click(function(){
          $('#flat_hidden').attr('value', alpha);
        });


        $('#sloped').click(function(){
          $('#sloped_hidden').attr('value', alpha);
        });
      }
    </script>
  </head>
  
  <body onload="init()">
  <h2>Roof Angle</h2>

  <form action="/flat_roof_orientation_angle" method="post">
    <input type="hidden" value="" name="flat_orientation" id="flat_hidden">
    <input type="submit" value="Flat" id="flat">
  </form>

  <form action="/sloped_roof_orientation" method="post">
    <input type="hidden" value="" name="sloped_orientation" id="sloped_hidden">
    <input type="submit" value="Sloped" id="sloped">
  </form>

    <section id="compassContainer">
      <img src="/images/compass.png" id="compass"/>
    </section>
  </body>
</html>
