<div class="large-8 medium-8 small-6 large-centered medium-centered small-centered column panel panel-color">
  <h4>Is your roof sloped or flat? Select one of the options below<h4>
</div>

<form action="/roof_type" method="post">
  <input class="button round button_background" type="submit" value="Flat" name="roof_type">
  <input class="button round button_background" type="submit" value="Sloped" name="roof_type">
</form>
