<body onload="orientation()">

  <h2>Roof Angle</h2>

  <form action="/flat_roof_orientation_angle" method="post">
    <input type="hidden" value="" name="flat_orientation" id="flat_hidden">
    <input type="submit" value="Flat" id="flat">
  </form>

  <form action="/sloped_roof_orientation" method="post">
    <input type="hidden" value="" name="sloped_orientation" id="sloped_hidden">
    <input type="submit" value="Sloped" id="sloped">
  </form>

  <section id="compassContainer">
    <img src="/images/compass.png" id="compass"/>
  </section>

</body>

