<body onload="orientation()">

  <h2>Roof Angle and Orientation</h2>
  <div class="large-8 medium-8 small-10 large-centered medium-centered small-centered column panel panel-color">
    <p>Stand with your phone facing the building</p>
    <p>Select one of the options below<p>
  </div>

  <form action="/flat_roof_orientation_angle" method="post">
    <input type="hidden" value="" name="flat_orientation" id="flat_hidden">
    <input class="button round button_background" type="submit" value="Flat" id="flat">
  </form>

  <form action="/sloped_roof_orientation" method="post">
    <input type="hidden" value="" name="sloped_orientation" id="sloped_hidden">
    <input class="button round button_background"  type="submit" value="Sloped" id="sloped">
  </form>

  <section id="compassContainer">
    <img src="/images/compass.png" id="compass"/>
  </section>

</body>

