<body onload="orientation()">
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>

<div class="large-8 medium-8 small-10 large-centered medium-centered small-centered column panel panel-color">
  <p>Stand square on and point your phone directly at the building. When you are ready select the roof type</p>
</div>

 <form action="/flat_roof_orientation_angle" method="post">
    <input type="hidden" value="" name="flat_orientation" id="flat_hidden">
    <input class="button round button_background" type="submit" value="Flat" id="flat">
  </form>

  <form action="/sloped_roof_orientation" method="post">
    <input type="hidden" value="" name="sloped_orientation" id="sloped_hidden">
    <input class="button round button_background"  type="submit" value="Sloped" id="sloped">
  </form>

  <section id="compassSection">
    <h3>Compass bearing: </h3> <span id="compass"></span>
  </section>

  <section id="rooFacing">
    <h3>Roof facing: </h3> <span id="facing"></span>
  </section>

<div class="info_icon">
  <a href="#" data-reveal-id="roof_info" id="shade_button"><img class="info-icon" src="images/info_sign.png"></a>
</div>

<div id="roof_info" class="reveal-modal info-popup" data-reveal>
  <p>Aspect: “South facing roofs are best, while North facing ones don’t get enough sun for solar. Anywhere from East to West via South should work.”</p>
  <p>Angle: “A shallow pitched roof is great if it’s facing south, and even east/west facing pitches can work out just fine for solar. Flat roofs allow fine tuning of panel orientation, but can often be hard to install on for structural reasons.”</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

