<h2>Shading</h2>

<img src="images/info_sign.png" id="shade_info">

<p>
Use the slider to estimate how much shade the roof might get over the course of a day.
</p>



Full shade * Half shade * No shade
<form action="/shading_data" method="post">
  <input type="range" min="0" max="2" name="shade_value">
  <input type="submit" value="Next">
</form>