<h2>Shading</h2>

<a href="#" data-reveal-id="shade_info" id="shade_button"><img src="images/info_sign.png"></a>
<div id="shade_info" class="reveal-modal" data-reveal>
  Is there anything up on the building itself or nearby that looks like it might cast a shadow on the roof at certain times of day? Things to look out for might include:  

  trees  
  buildings  
  chimneys  
  railings / walls  
  lampposts / telegraph poles  
  overhead wires  
  air conditioning units  
<a class="close-reveal-modal">&#215;</a>
</div>
<p>
  Use the slider to estimate how much shade the roof might get over the course of a day.
</p>



Full shade * Half shade * No shade
<form action="/shading_data" method="post">
  <input type="range" min="0" max="2" style="width: 45%" name="shade_value">
  <input type="submit" value="Next">
</form>