<section id="dataContainerOrientation">
  No device orientation data
</section>

</section id="orient">
  tbc
</section>

<form action="/sloped_roof_angle" method="post">
  <button class="button round button_background" type="submit" id="capture">Capture</button>
</form>

<script type="text/javascript" src="js/roofAngle.js"></script>    
