<section id="dataContainerOrientation">
  No device orientation data
</section>

<button type="submit" id="capture">Capture</button>

<script> 
  $(document).ready(function() {
    init();
  });
</script>