<section id="dataContainerOrientation">
  No device orientation data
</section>

<form action="/sloped_roof_angle" method="post">
  <input type="hidden" name="sloped_angle" value="" id="capture_hidden">
  <input type="submit" value="Capture" id="capture">
</form>
<script> 
  $(document).ready(function() {
    init();
  });
</script>