<script type="text/javascript" src="/js/gyroscope.js"></script>

<div class="page">

  <div class="row">
    <div class="columns">
      <p>
        Aim your phone at the pitch of the roof and press capture. 
        You should see the data updating as you change the angle of your phone.
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="columns">
      <h1 id="dataContainerOrientation" class="chunky">
        No device orientation data
      </h1>
    </div>
  </div>

  <form action="/roofs/<%=@roof.id%>/angle" method="post">
    <input type="hidden" name="sloped_angle" value="" id="capture_hidden">
    <input class="button expand bottom" type="submit" value="Capture!" id="capture">
  </form>

</div>
  
</div>

<script>$(document).ready(function(){gyroscope();});</script>


