<section id="dataContainerOrientation">
  No device orientation data
</section>

<form action="/sloped_roof_angle" method="post">
  <button type="submit" id="capture">Capture</button>
</form>

<script> 
  $(document).ready(function() {
    init();
  });
</script>