<script type="text/javascript" src="/js/gyroscope.js"></script>

<p>Let's check the angle of the roof. Tilt your phone to match the slope!</p>

<section id="dataContainerOrientation">
  No device orientation data
</section>

  <form action="/roofs/<%=@roof.id%>/angle" method="post">
    <input type="hidden" name="angle" value="0" id="capture_hidden">
    <input type="submit" value="Capture" id="capture">
  </form>

<div class="info_icon">
  <a href="#" data-reveal-id="roof_angle_info" id="shade_button"><img class="info-icon" src="/images/info_sign.png"></a>
</div>

<script>$(document).ready(function(){gyroscope();});</script>
