Summary

<div>
  <ul>
    <li><%= @roof.material %></li>
    <li><%= @roof.shade_value %></li>
    <li><%= @roof.roof_angle %></li>
    <li><img src="<%= @roof.photo_url %>" class="material_img"></li>
  </ul>
</div>

<button class="button round button_background" href="/thankyou">Save</button>
